<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars News</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Latest Mars News</a></p>
    </div>

    <!-- Not Phone Listings LOL-->
    <div class="row" id="Mars News"">
      <div class="col-md-12">
        <h1 class="heading">Latest News</h1>
      </div>
      <div class="col-md-12">
        <h3 class="heading">{{mars_nws.news_title}}</h3>
        <p>{{mars_nws.news_content}}</p>
      </div>
    </div>

    <div class="row" id="Mars Data"">

    <div class="col-md-6">
      <h1 class="heading">Featured Mars Image</h1>
      <img class='img-responsive' src={{mars_nws.featured_image}}>
    </div>

    <div class="col-md-6">
      <h1 class="heading">Planet Data</h1>
        
      {{ mars_nws.mars_table|safe }}
        
    </div>

  </div>
</body>

</html>
